@model IEnumerable<Bulky.Models.Product>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Upsert">Create New</a>
</p>
<table id="tblData" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ISBN)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ListPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>
			<th></th>
		</tr>
	</thead>
</table>
@section Scripts {
	<script src="~/js/product.js"></script>
}